useDynLib(kdecopula)
import(lattice,
       cubature,
       locfit,
       qrng,
       Rcpp,
       VineCopula)
importFrom("graphics", "plot", "contour")
importFrom("grDevices", "colorRampPalette", "rgb", "col2rgb")
importFrom("stats", "cor", "cov", "dbeta", "dnorm", "optim", "pnorm",
           "predict", "qnorm", "runif", "logLik")
importFrom("utils", "modifyList")

export(kdecop,
       dkdecop,
       pkdecop,
       rkdecop)
S3method(plot, kdecopula)
S3method(contour, kdecopula)
S3method(print, kdecopula)
S3method(summary, kdecopula)
S3method(logLik, kdecopula)