useDynLib(kdecopula)
import(lattice,
       cubature,
       locfit,
       qrng,
       Rcpp,
       VineCopula)
importFrom("graphics", "contour")
importFrom("grDevices", "colorRampPalette", "rgb")
importFrom("stats", "cor", "cov", "dbeta", "dnorm", "optim", "pnorm", "predict", "qnorm", "runif")
importFrom("utils", "modifyList")

export(kdecop,
       dkdecop,
       pkdecop,
       rkdecop)
S3method(plot, kdecopula)
S3method(contour, kdecopula)